{
    "ignoreUnknownNode": false,
    "exportFormat": "stl",
    "logFileDirectory: "/home/joe/vrml/vrmlxpy"
    "logFileName": "vrmlproc",
    "parallelismSettings": {
        "active": true,
        "threadsNumberLimit": 4
    },
     "meshSimplification": {
        "active": true,
        "percentageOfAllEdgesToSimplify": 85.5
    },
    "IFSSettings": {
        "checkRange": false,
        "onlyTriangularFaces": true
    }
}